<h1 mat-dialog-title>Login with...</h1>
<div mat-dialog-content>
    
    <!-- <ol style="list-style: none;">
        <li>
          <button mat-raised-button (click)='doFacebookLogin()'>Facebook</button>
        </li>
        <li>
            <button mat-raised-button (click)='doTwitterLogin()'>Twitter</button>
          </li>
    </ol> -->

    <mat-action-list>
        <button mat-raised-button (click)='doFacebookLogin()'>Facebook</button>
        <button mat-raised-button (click)='doTwitterLogin()'>Twitter</button>
    </mat-action-list>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
</div>